@import "base";


header {
    height: 100vh;
    background-color: $color-black;

    .menu-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-section;

        #menu-hamburger {
            width: 50px;
            height: 50px;
            z-index: 9;
            cursor: pointer;
            transition: left 500ms $easing;
            background-color: $color-yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .habmurger-line {
                width: 30px;
                height: 3px;
                margin-bottom: 8px;
                background-color: $color-black;
                transition: transform 500ms, opacity 500ms, background-color 250ms;
            }

            .habmurger-line:last-child {
                margin-bottom: 0;
            }
        }

        #menu-hamburger.active {
            right: 50px;

            #top {
                transform: translateY(10px) rotate(-135deg);
            }

            #middle {
                opacity: 0;
                transform: rotate(135deg);
            }

            #bottom {
                transform: translateY(-12px) rotate(-45deg);
            }
        }

        #menu-content {
            position: fixed;
            z-index: 8;
            overflow: auto;
            top: 0;
            right: -35%;
            width: 35%;
            opacity: 0.5;
            padding: 20px 0;
            height: 100%;
            background-color: $color-yellow;
            color: $color-black;
            transition: all 350ms $easing;
            font-size: 0.8em;
        }

        #menu-content.active {
            right: 0;
            opacity: 1;
        }

        .menu-content-items {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            text-align: center;

            li {
                position: relative;
                cursor: pointer;
                font-size: 1.5em;
                padding: 20px 0;
                transition: all 300ms;
                list-style: none; //

                &:hover {
                    background: $color-black;
                    transition: all 0.3s $easing;

                    a {
                        color: $color-yellow;
                    }
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $color-black;
                }
            }
        }

        #menu-hamburger,
        #menu-hamburger * {
            will-change: transform;
        }

        #menu-content {
            will-change: transform, opacity;
        }
    }

    .hero {
        margin-top: 20px;
        padding: $padding-section;

        .hero-title {
            color: $color-yellow;
            text-transform: uppercase;
            font-size: 5em;
        }

        .hero-paragraph {
            color: $color-white;
            font-size: 0.6em;
            letter-spacing: $letter-spacing;
            padding-bottom: 10px;
        }

        .hero-button {
            @include button;
            width: 160px;
            background-color: $color-black;

            &:hover a {
                text-decoration: none;
                color: $color-yellow;
                transition: transform 0.5s;
                cursor: pointer;
            }

            a {
                color: $color-white;
                text-transform: uppercase;
                font-size: 0.8em;
                letter-spacing: $letter-spacing;

            }
        }
    }
}

/* Section motto */
.motto {
    background-color: $color-yellow;
    padding: 50px 0;

    .motto-paragraph {
        margin: 0 auto;
        width: 80%;
        font-size: 0.7em;
        letter-spacing: $letter-spacing;
        line-height: 1.2;
        font-weight: bold;
    }
}

/* Section Services */
.services {
    padding: 50px 0;


    .services-icon {
        width: 75px;
        height: 75px;
        background-color: $color-yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .services-title {
        color: $color-yellow;
        text-transform: uppercase;
    }

    .services-paragraph {
        font-size: 0.8em;
        line-height: 1.1;
        margin-bottom: 40px;
    }

    .services-button {
        @include button;
        width: 240px;
        background-color: $color-white;
        color: $color-black;
        font-size: 0.8em;
        text-transform: uppercase;
        margin: 20px auto;

        //outline: none;
        &:hover {
            background-color: $color-yellow;
            cursor: pointer;
        }
    }
}

/* Section Portfolio */
.portfolio {
    background-color: $color-black;
    color: $color-yellow;
    .portfolio-text {
    padding: 30px 0;
    }
}
.portfolio-wrapper {
    background-color: $color-yellow;
    .portfolio-images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $color-yellow;
        padding: 20px 0;

        .image_all {
            position: relative;
            margin: 10px;
            width: 300px;
            height: 200px;
            list-style: none;


            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            &:hover {
                .layer {
                    opacity: 1;
                    background-color: rgba($color-black, .7);
                }
            }

        }

        .layer {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .5s ease;
            padding: 10px;

            .layer-text {
                color: $color-yellow;
                position: absolute;
                left: 15%;
                bottom: 10%;
                font-size: 2em;
            }
        }
    }
}