@import "base";


header {
    height: 100vh;
    background-color: $color-black;

    .menu-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $padding-section;

        #menu-hamburger {
            width: 50px;
            height: 50px;
            z-index: 9;
            cursor: pointer;
            background-color: $color-yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .habmurger-line {
                width: 30px;
                height: 3px;
                margin-bottom: 8px;
                background-color: $color-black;
                transition: transform 500ms, opacity 500ms, background-color 250ms;
            }

            .habmurger-line:last-child {
                margin-bottom: 0;
            }
        }

        #menu-hamburger.active {
            #top {
                transform: translateY(10px) rotate(-135deg);
            }

            #middle {
                opacity: 0;
                transform: rotate(135deg);
            }

            #bottom {
                transform: translateY(-12px) rotate(-45deg);
            }
        }

        #menu-content {
            position: fixed;
            z-index: 8;
            overflow: auto;
            top: 0;
            right: -35%;
            width: 35%;
            opacity: 0.5;
            padding: 20px 0;
            height: 100%;
            background-color: $color-yellow;
            color: $color-black;
            transition: all 500ms $easing;
            font-size: 0.8em;
        }

        #menu-content.active {
            right: 0;
            opacity: 1;
        }

        .menu-content-items {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            text-align: center;

            li {
                position: relative;
                cursor: pointer;
                font-size: 1.5em;
                padding: 20px 0;
                transition: all 300ms;
                list-style: none; //

                &:hover {
                    background: $color-black;
                    transition: all 0.3s $easing;

                    a {
                        color: $color-yellow;
                    }
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $color-black;
                }
            }
        }

        #menu-hamburger,
        #menu-hamburger * {
            will-change: transform;
        }

        #menu-content {
            will-change: transform, opacity;
        }
    }

    .hero {
        margin-top: 20px;
        padding: $padding-section;

        .hero-title {
            color: $color-yellow;
            text-transform: uppercase;
            font-size: 5em;
        }

        .hero-paragraph {
            color: $color-white;
            font-size: 0.6em;
            letter-spacing: $letter-spacing;
            padding-bottom: 10px;
        }

        .hero-button {
            @include button;
            width: 160px;
            background-color: $color-black;
            transition: $transition-button;

            &:hover a {
                text-decoration: none;
                color: $color-yellow;
                cursor: pointer;
            }

            a {
                color: $color-white;
                text-transform: uppercase;
                font-size: 0.8em;
                letter-spacing: $letter-spacing;

            }
        }
    }
}

/* Section motto */
.motto {
    background-color: $color-yellow;
    padding: 50px 0;

    .motto-paragraph {
        margin: 0 auto;
        width: 90%;
        font-size: 0.7em;
        letter-spacing: $letter-spacing;
        line-height: 1.2;
        font-weight: bold;
    }
}

/* Section Services */
.services {
    padding: 50px 30px;

    .services-icon {
        width: 75px;
        height: 75px;
        background-color: $color-yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .services-title {
        color: $color-yellow;
        text-transform: uppercase;
    }

    .services-paragraph {
        font-size: 0.8em;
        line-height: $line-height-par;
        margin-bottom: 40px;
    }

    .services-button {
        @include button;
        width: $width-button-section;
        background-color: $color-white;
        color: $color-black;
        font-size: 0.8em;
        text-transform: uppercase;
        margin: 20px auto;
        transition: $transition-button;

        //outline: none;
        &:hover {
            background-color: $color-yellow;
            cursor: pointer;
        }
    }
}

/* Section Portfolio */
.portfolio {
    background-color: $color-black;
    color: $color-yellow;

    .portfolio-text {
        padding: 50px 30px;

        .portfolio-paragraph {
            font-size: $font-size-paragraph;
            line-height: $line-height-par;
            margin-bottom: 40px;
        }

        .portfolio-nav {
            display: flex;
            justify-content: center;

            button {
                border: 2px solid $color-yellow;
                background-color: $color-black;
                margin: 0 5px;
                padding: 0;
                transition: $transition-button;

                &:hover {
                    background-color: $color-yellow;
                }

                a {
                    padding: 5px 10px;
                    color: $color-yellow;
                    text-decoration: none;

                    &:hover {
                        color: $color-black;
                    }
                }
            }
        }

    }
}

.portfolio-wrapper {
    background-color: $color-yellow;

    .portfolio-images {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $color-yellow;
        padding: 10px 0;
        margin: 0;

        .image_all {
            position: relative;
            margin: 10px;
            width: 320px;
            height: 180px;
            list-style: none;


            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            &:hover {
                .layer {
                    opacity: 1;
                    background-color: rgba($color-black, .8);
                }
            }

        }

        .layer {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $transition-button ease;
            padding: 10px;

            .layer-text {
                color: $color-yellow;
                position: absolute;
                left: 10%;
                bottom: 10%;
                font-size: 1.5em;
            }
        }
    }
}

/* Section Clients */

.clients {
    background-color: $color-black;
    padding: 50px 30px 20px;

    .clients-text {
        .clients-title {
            color: $color-yellow;
        }

        .clients-paragraph {
            color: $color-white;
            font-size: $font-size-paragraph;
            line-height: $line-height-par;
            margin-bottom: 30px;
        }
    }

    .clients-carousel {
        color: $color-yellow;
        padding: 0;

        .carousel-indicators {
            margin-bottom: 0;

            li {
                width: 10px;
                height: 10px;
                border: 0;
                opacity: 1;
                margin: 0 6px;

                &.active {
                    background: $color-yellow;
                }
            }
        }

        .carousel-inner {
            display: flex;
            align-items: center;
            min-height: 220px;
            max-height: 300px;

            .clients-carousel_logo {
                padding: 0;
                text-align: center;

                img {
                    margin-top: 10px;
                    margin-bottom: 30px;
                    padding: 0 20px;
                    width: 100%;
                }
            }
        }
    }
}

/* Section Contact */

.contact {
    padding: 50px 30px;

    .contact-text {
        .contact-title {
            color: $color-yellow;
        }

        .contact-paragraph {
            font-size: $font-size-paragraph;
            line-height: $line-height-par;
            margin-bottom: 30px;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        input,
        textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            padding-top: .6rem;
            padding-bottom: .6rem;
            outline: none;
            border: 1px solid $color-black;
            background: none;
            color: $color-black;
            text-transform: uppercase;
            text-decoration: none;
        }

        div {
            position: relative;
            width: 100%;
            margin-top: 2rem;
            padding: 0 8px;
            text-transform: uppercase;
            font-size: 0.9em;
        }

        div label {
            position: absolute;
            left: 20px;
            top: 10px;
            transition: .5s;
            pointer-events: none;
        }
    }

    input:focus~label,
    textarea:focus~label,
    input:valid~label,
    textarea:valid~label {
        top: -18px;
        left: 15px;
        font-size: 0.9em;
    }

    textarea::placeholder {
        color: $color-black;
    }

    .contact-form input:focus:invalid {
        border-bottom: 2px solid red;
    }

    .contact-form input:focus:valid {
        border-bottom: 2px solid green;
    }

    button {
        @include button;
        width: $width-button-section;
        background-color: $color-white;
    }

}