@import url("https://fonts.googleapis.com/css?family=Abel");
body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  font-family: "Abel", sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.row:after, .row:before {
  display: table;
  content: "";
  clear: both;
}

header {
  height: 100vh;
  background-color: #17191e;
}

header .menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

header .menu-wrapper #menu-hamburger {
  width: 50px;
  height: 50px;
  z-index: 9;
  cursor: pointer;
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  background-color: #f2c81e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .menu-wrapper #menu-hamburger .habmurger-line {
  width: 30px;
  height: 3px;
  margin-bottom: 8px;
  background-color: #17191e;
  transition: transform 500ms, opacity 500ms, background-color 250ms;
}

header .menu-wrapper #menu-hamburger .habmurger-line:last-child {
  margin-bottom: 0;
}

header .menu-wrapper #menu-hamburger.active {
  right: 50px;
}

header .menu-wrapper #menu-hamburger.active #top {
  transform: translateY(10px) rotate(-135deg);
}

header .menu-wrapper #menu-hamburger.active #middle {
  opacity: 0;
  transform: rotate(135deg);
}

header .menu-wrapper #menu-hamburger.active #bottom {
  transform: translateY(-12px) rotate(-45deg);
}

header .menu-wrapper #menu-content {
  position: fixed;
  z-index: 8;
  overflow: auto;
  top: 0;
  right: -35%;
  width: 35%;
  opacity: 0.5;
  padding: 20px 0;
  height: 100%;
  background-color: #f2c81e;
  color: #17191e;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  font-size: 0.8em;
}

header .menu-wrapper #menu-content.active {
  right: 0;
  opacity: 1;
}

header .menu-wrapper .menu-content-items {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  text-align: center;
}

header .menu-wrapper .menu-content-items li {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  padding: 20px 0;
  transition: all 300ms;
  list-style: none;
}

header .menu-wrapper .menu-content-items li:hover {
  background: #17191e;
  transition: all 0.3s cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

header .menu-wrapper .menu-content-items li:hover a {
  color: #f2c81e;
}

header .menu-wrapper .menu-content-items li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #17191e;
}

header .menu-wrapper #menu-hamburger,
header .menu-wrapper #menu-hamburger * {
  will-change: transform;
}

header .menu-wrapper #menu-content {
  will-change: transform, opacity;
}

header .hero {
  margin-top: 20px;
  padding: 20px 30px;
}

header .hero .hero-title {
  color: #f2c81e;
  text-transform: uppercase;
  font-size: 5em;
}

header .hero .hero-paragraph {
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

header .hero .hero-button {
  border: 2px solid #f2c81e;
  border-radius: 20px;
  height: 50px;
  width: 160px;
  background-color: #17191e;
}

header .hero .hero-button:hover a {
  text-decoration: none;
  color: #f2c81e;
  transition: transform 0.5s;
  cursor: pointer;
}

header .hero .hero-button a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5px;
}

/* Section motto */
.motto {
  background-color: #f2c81e;
  padding: 50px 0;
}

.motto .motto-paragraph {
  margin: 0 auto;
  width: 80%;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: bold;
}

/* Section Services */
.services {
  padding: 50px 0;
}

.services .services-icon {
  width: 75px;
  height: 75px;
  background-color: #f2c81e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.services .services-title {
  color: #f2c81e;
  text-transform: uppercase;
}

.services .services-paragraph {
  font-size: 0.8em;
  line-height: 1.1;
  margin-bottom: 40px;
}

.services .services-button {
  border: 2px solid #f2c81e;
  border-radius: 20px;
  height: 50px;
  width: 240px;
  background-color: white;
  color: #17191e;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 20px auto;
}

.services .services-button:hover {
  background-color: #f2c81e;
  cursor: pointer;
}

/* Section Portfolio */
.portfolio {
  background-color: #17191e;
  color: #f2c81e;
}

.portfolio .portfolio-text {
  padding: 30px 0;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2c81e;
  padding: 30px 0;
}

.portfolio-images .image {
  position: relative;
  padding: 10px;
  width: 300px;
}

.portfolio-images .image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.portfolio-images .image:hover .layer {
  opacity: 1;
}

.portfolio-images .layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
}

.portfolio-images .layer .layer-text {
  color: #f2c81e;
  position: absolute;
  left: 15%;
  bottom: 10%;
  font-size: 2em;
}

/*# sourceMappingURL=style.css.map */